DISCORD_APPLICATION_ID=discord>application>my-app>general-information>application-id
DISCORD_PUBLIC_KEY=discord>application>my-app>general-information>public-key
DISCORD_TOKEN=discord>application>my-app>bot>token
